<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>

    <h1>Adrienne Jobs</h1>
    <p>
        My name is Adrienne Jobs, and I’ve always been fascinated by how technology shapes 
        the way we connect and share information around the world. I am a tenacious and ambitious
         individual with a passion in learning web development and other areas in the tech field. 
         I am interested in web development because I get to use my creative, technical and problem solving
          skills to design various visually appealing dynamic websites. I enjoy the process of executing an idea 
          of mine into functional websites that can provide oppurtinities or myself and value to other individuals.
    </p>
    <img src="{{ url_for('static', filename='images/me.jpg') }}" width="300">


</body>
</html>
